html,body {
        width: 100%;
        font-family: 'Source Code Pro', monospace;
        text-align: center;
}

/* Containers */

.profile h1, p {
        font-family: 'Source Code Pro', monospace;
}
.profile h1 {
        font-weight: 700;
}

.links {
        display: block;
        font-family: monospace;
}

.footer p {        
        padding-top: 100px;
}

.profile {
        margin-top: 50px;
}
